<!doctype html>
<html lang="en" ng-app="task1App">
<head>
    <meta charset="utf-8">
    <title>Categories</title>
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="assets/bower_components/angular/angular.js"></script>
    <script src="assets/bower_components/angular-route/angular-route.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>
</head>
<body>

<div ng-view></div>

</body>
</html>